@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-weight:bold ;color:dodgerblue"  class="display-4">Hello In My First Project</h1>
    <h4 style="color:deepskyblue">My Name is/Rawan</h4>
    <p style="color:deepskyblue">Backend Developer using .NET</p>
        <br/>

    <img src="~/Images/2.jpg" style="width:400px ; border-radius:10px"/>
</div>
